@import "tailwindcss";

@font-face {
    font-family: 'Comfortaa';
    src: url("/Comfortaa-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
  --font-comfortaa: "Comfortaa", "sans serif";

  --color-background: rgb(18, 20, 14);
  --color-primary: rgb(177, 209, 138);
  --color-secondary: rgb(191, 203, 173);
  --color-on-background: rgb(226, 227, 216);
  --color-on-primary: rgb(31, 55, 1);
  --color-on-secondary: rgb(42, 51, 30);
  --color-primary-container: rgb(53, 78, 22);
  --color-on-primary-container: rgb(205, 237, 163);
  --color-on-surface: rgb(226, 227, 216);
}

@layer base {
  html {
      scroll-behavior: smooth;
  }
}

.transition-opacity {
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.5s ease-out;
}

.opacity-100 {
    opacity: 1;
}

.translate-y-0 {
    transform: translateY(0);
}