name: Deploy my website to gh pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create .env file
        run: |
          echo "VITE_EJS_SERVICE_ID=${{ secrets.VITE_EJS_SERVICE_ID }}" >> .env
          echo "VITE_EJS_TEMPLATE_ID=${{ secrets.VITE_EJS_TEMPLATE_ID }}" >> .env
          echo "VITE_EJS_USER_ID=${{ secrets.VITE_EJS_USER_ID }}" >> .env

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
